Source: alternc-php-fpm
Section: admin
Priority: optional
Maintainer: Benjamin Sonntag <benjamin@sonntag.fr>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.8

Package: alternc-php-fpm
Priority: optional
Section: admin
Architecture: all
Depends: alternc (>= 3.2.11), alternc-nss
Description: PHP-fpm addon for AlternC
 AlternC is a mutualized hosting software manager for Linux.
 It allows you to manage your websites, domains, ftp, emails, aliases,
 web statistics, mailing-lists, etc.
 .
 This package is an optional module that adds php7.x-fpm vhost templates
 for AlternC. it is compatible with nginx-ssl and recommends
 php7.x-fpm sury packages
 .
 More information on https://www.alternc.com/
